th
{
    background-color:rgb(226, 13, 13);
}

tr,td{

    background-color:#FDCEB9;
}

.center {
    margin-left: auto;
    margin-right: auto;
  }

label{
    border:5px;
    background-color:coral;
}

